@font-face {
    font-family: 'Refinery-25';
    src: url('../fonts/Refinery-25-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jersey M54';
    src: url('../fonts/Jersey-M54.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'Blender Pro';
    src: url('../fonts/BlenderPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'BlenderPro-Bold';
    src: url('../fonts/BlenderPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 